In [1]:
%pip install pandas
%pip install numpy

Requirement already satisfied: pandas in c:\users\silve\documents\data_science\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\silve\documents\data_science\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\silve\documents\data_science\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\silve\documents\data_science\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\silve\documents\data_science\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\silve\documents\data_science\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: numpy in c:\users\silve\documents\data_science\lib\site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [2]:
%pip install matplotlib
%pip install dash==2.14.2 jupyter-dash==0.4.2

Requirement already satisfied: matplotlib in c:\users\silve\documents\data_science\lib\site-packages (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\silve\documents\data_science\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\silve\documents\data_science\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\silve\documents\data_science\lib\site-packages (from matplotlib) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\silve\documents\data_science\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.23 in c:\users\silve\documents\data_science\lib\site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in c:\users\silve\documents\data_science\lib\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\silve\documents\data_science\lib\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\silve\documents\data_science\lib\site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\silve\documents\data_science\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\silve\documents\data_science\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: dash==2.14.2 in c:\users\silve\documents\data_science\lib\site-packages (2.14.2)
Requirement already satisfied: jupyter-dash==0.4.2 in c:\users\silve\documents\data_science\lib\site-packages (0.4.2)
Requirement already satisfied: Flask<3.1,>=1.0.4 in c:\users\silve\documents\data_science\lib\site-packages (from dash==2.14.2) (3.0.3)
Requirement already satisfied: Werkzeug<3.1 in c:\users\silve\documents\data_science\lib\site-packages (from dash==2.14.2) (3.0.3)
Requirement already satisfied: plotly>=5.0.0 in c:\users\silve\documents\data_science\lib\site-packages (from dash==2.14.2) (6.1.2)
Requirement already satisfied: dash-html-components==2.0.0 in c:\users\silve\documents\data_science\lib\site-packages (from dash==2.14.2) (2.0.0)
Requirement already satisfied: dash-core-components==2.0.0 in c:\users\silve\documents\data_science\lib\site-packages (from dash==2.14.2) (2.0.0)
Requirement already satisfied: dash-table==5.0.0 in c:\users\silve\documents\data_science\lib\site-packages (from dash==2.14.2) (5.0.0)
Requirement already satisfied: typing-extensions>=4.1.1 in c:\users\silve\documents\data_science\lib\site-packages (from dash==2.14.2) (4.11.0)
Requirement already satisfied: requests in c:\users\silve\documents\data_science\lib\site-packages (from dash==2.14.2) (2.32.3)
Requirement already satisfied: retrying in c:\users\silve\documents\data_science\lib\site-packages (from dash==2.14.2) (1.4.1)
Requirement already satisfied: ansi2html in c:\users\silve\documents\data_science\lib\site-packages (from dash==2.14.2) (1.9.2)
Requirement already satisfied: nest-asyncio in c:\users\silve\documents\data_science\lib\site-packages (from dash==2.14.2) (1.6.0)
Requirement already satisfied: setuptools in c:\users\silve\documents\data_science\lib\site-packages (from dash==2.14.2) (75.1.0)
Requirement already satisfied: importlib-metadata in c:\users\silve\documents\data_science\lib\site-packages (from dash==2.14.2) (7.0.1)
Requirement already satisfied: ipython in c:\users\silve\documents\data_science\lib\site-packages (from jupyter-dash==0.4.2) (8.27.0)
Requirement already satisfied: ipykernel in c:\users\silve\documents\data_science\lib\site-packages (from jupyter-dash==0.4.2) (6.28.0)
Requirement already satisfied: Jinja2>=3.1.2 in c:\users\silve\documents\data_science\lib\site-packages (from Flask<3.1,>=1.0.4->dash==2.14.2) (3.1.4)
Requirement already satisfied: itsdangerous>=2.1.2 in c:\users\silve\documents\data_science\lib\site-packages (from Flask<3.1,>=1.0.4->dash==2.14.2) (2.2.0)
Requirement already satisfied: click>=8.1.3 in c:\users\silve\documents\data_science\lib\site-packages (from Flask<3.1,>=1.0.4->dash==2.14.2) (8.1.7)
Requirement already satisfied: blinker>=1.6.2 in c:\users\silve\documents\data_science\lib\site-packages (from Flask<3.1,>=1.0.4->dash==2.14.2) (1.6.2)
Requirement already satisfied: narwhals>=1.15.1 in c:\users\silve\documents\data_science\lib\site-packages (from plotly>=5.0.0->dash==2.14.2) (1.41.0)
Requirement already satisfied: packaging in c:\users\silve\documents\data_science\lib\site-packages (from plotly>=5.0.0->dash==2.14.2) (24.1)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\users\silve\documents\data_science\lib\site-packages (from Werkzeug<3.1->dash==2.14.2) (2.1.3)
Requirement already satisfied: zipp>=0.5 in c:\users\silve\documents\data_science\lib\site-packages (from importlib-metadata->dash==2.14.2) (3.17.0)
Requirement already satisfied: comm>=0.1.1 in c:\users\silve\documents\data_science\lib\site-packages (from ipykernel->jupyter-dash==0.4.2) (0.2.1)
Requirement already satisfied: debugpy>=1.6.5 in c:\users\silve\documents\data_science\lib\site-packages (from ipykernel->jupyter-dash==0.4.2) (1.6.7)
Requirement already satisfied: jupyter-client>=6.1.12 in c:\users\silve\documents\data_science\lib\site-packages (from ipykernel->jupyter-dash==0.4.2) (8.6.0)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in c:\users\silve\documents\data_science\lib\site-packages (from ipykernel->jupyter-dash==0.4.2) (5.7.2)
Requirement already satisfied: matplotlib-inline>=0.1 in c:\users\silve\documents\data_science\lib\site-packages (from ipykernel->jupyter-dash==0.4.2) (0.1.6)
Requirement already satisfied: psutil in c:\users\silve\documents\data_science\lib\site-packages (from ipykernel->jupyter-dash==0.4.2) (5.9.0)
Requirement already satisfied: pyzmq>=24 in c:\users\silve\documents\data_science\lib\site-packages (from ipykernel->jupyter-dash==0.4.2) (25.1.2)
Requirement already satisfied: tornado>=6.1 in c:\users\silve\documents\data_science\lib\site-packages (from ipykernel->jupyter-dash==0.4.2) (6.4.1)
Requirement already satisfied: traitlets>=5.4.0 in c:\users\silve\documents\data_science\lib\site-packages (from ipykernel->jupyter-dash==0.4.2) (5.14.3)
Requirement already satisfied: decorator in c:\users\silve\documents\data_science\lib\site-packages (from ipython->jupyter-dash==0.4.2) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\silve\documents\data_science\lib\site-packages (from ipython->jupyter-dash==0.4.2) (0.19.1)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\silve\documents\data_science\lib\site-packages (from ipython->jupyter-dash==0.4.2) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\silve\documents\data_science\lib\site-packages (from ipython->jupyter-dash==0.4.2) (2.15.1)
Requirement already satisfied: stack-data in c:\users\silve\documents\data_science\lib\site-packages (from ipython->jupyter-dash==0.4.2) (0.2.0)
Requirement already satisfied: colorama in c:\users\silve\documents\data_science\lib\site-packages (from ipython->jupyter-dash==0.4.2) (0.4.6)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\silve\documents\data_science\lib\site-packages (from requests->dash==2.14.2) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\silve\documents\data_science\lib\site-packages (from requests->dash==2.14.2) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\silve\documents\data_science\lib\site-packages (from requests->dash==2.14.2) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\silve\documents\data_science\lib\site-packages (from requests->dash==2.14.2) (2024.8.30)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\silve\documents\data_science\lib\site-packages (from jedi>=0.16->ipython->jupyter-dash==0.4.2) (0.8.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\silve\documents\data_science\lib\site-packages (from jupyter-client>=6.1.12->ipykernel->jupyter-dash==0.4.2) (2.9.0.post0)
Requirement already satisfied: platformdirs>=2.5 in c:\users\silve\documents\data_science\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel->jupyter-dash==0.4.2) (3.10.0)
Requirement already satisfied: pywin32>=300 in c:\users\silve\documents\data_science\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel->jupyter-dash==0.4.2) (305.1)
Requirement already satisfied: wcwidth in c:\users\silve\documents\data_science\lib\site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython->jupyter-dash==0.4.2) (0.2.5)
Requirement already satisfied: executing in c:\users\silve\documents\data_science\lib\site-packages (from stack-data->ipython->jupyter-dash==0.4.2) (0.8.3)
Requirement already satisfied: asttokens in c:\users\silve\documents\data_science\lib\site-packages (from stack-data->ipython->jupyter-dash==0.4.2) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\silve\documents\data_science\lib\site-packages (from stack-data->ipython->jupyter-dash==0.4.2) (0.2.2)
Requirement already satisfied: six>=1.5 in c:\users\silve\documents\data_science\lib\site-packages (from python-dateutil>=2.8.2->jupyter-client>=6.1.12->ipykernel->jupyter-dash==0.4.2) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [ ]:
# get the data ready

In [4]:
pay=pd.read_csv(r"C:\Users\silve\Desktop\Data Science\Projects\Trade Franchises\Meta Data\Raw data\Payments.csv")
pay.head(1)

,Store_ID,Missed_Payments_12mo,Missed_Payments_6mo,Missed_Payments_3mo,Initial_Fee_Paid,Initial_Fee_Remaining,Initial_Fee_On_Schedule,Royalty_Paid_Expected,Royalty_Paid_Actual,Marketing_Paid_Expected,Marketing_Paid_Actual,Min_Royalty_Biweekly,Missed_Marketing_Payment_Streak
0,STORE_0,2,1,1,29850,10000,Yes,19046,750,900,6000,750,2

In [5]:
pay["Missed_Payments_YTD"]=pay["Missed_Payments_6mo"]+pay["Missed_Payments_3mo"]
pay.head(1)

,Store_ID,Missed_Payments_12mo,Missed_Payments_6mo,Missed_Payments_3mo,Initial_Fee_Paid,Initial_Fee_Remaining,Initial_Fee_On_Schedule,Royalty_Paid_Expected,Royalty_Paid_Actual,Marketing_Paid_Expected,Marketing_Paid_Actual,Min_Royalty_Biweekly,Missed_Marketing_Payment_Streak,Missed_Payments_YTD
0,STORE_0,2,1,1,29850,10000,Yes,19046,750,900,6000,750,2,2

In [6]:
missed=pay[["Store_ID","Missed_Payments_12mo","Missed_Payments_YTD","Missed_Payments_6mo","Missed_Payments_3mo"]]
missed.head(1)

,Store_ID,Missed_Payments_12mo,Missed_Payments_YTD,Missed_Payments_6mo,Missed_Payments_3mo
0,STORE_0,2,2,1,1

In [7]:
mo12=missed.sort_values(by="Missed_Payments_12mo", ascending=False)
ytd=missed.sort_values(by="Missed_Payments_YTD",ascending=False)
mo6=missed.sort_values(by="Missed_Payments_6mo",ascending=False)
mo3=missed.sort_values(by="Missed_Payments_3mo",ascending=False)

ytd.head(1)

,Store_ID,Missed_Payments_12mo,Missed_Payments_YTD,Missed_Payments_6mo,Missed_Payments_3mo
155,STORE_155,0,6,2,4

In [8]:
initialf=pay[["Store_ID","Initial_Fee_Paid","Initial_Fee_Remaining"]]
initialf.head(1)

  Store_ID  Initial_Fee_Paid  Initial_Fee_Remaining
0  STORE_0             29850                  10000

In [9]:
royalty=pay[["Store_ID","Royalty_Paid_Expected","Royalty_Paid_Actual"]]
royalty["dif"]=royalty["Royalty_Paid_Expected"]-royalty["Royalty_Paid_Actual"]
royalty.head(1)

C:\Users\silve\AppData\Local\Temp\ipykernel_7296\1612852311.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  royalty["dif"]=royalty["Royalty_Paid_Expected"]-royalty["Royalty_Paid_Actual"]

  Store_ID  Royalty_Paid_Expected  Royalty_Paid_Actual    dif
0  STORE_0                  19046                  750  18296

In [10]:
royalty=royalty.sort_values(by="dif", ascending=False)
royalty=royalty.head(10)
royalty.head(1)

      Store_ID  Royalty_Paid_Expected  Royalty_Paid_Actual    dif
250  STORE_250                  19909                 1000  18909

In [ ]:
# Dashboard for visualization

In [11]:
import dash
from jupyter_dash import JupyterDash
from dash import dcc,html
from dash.dependencies import Input,Output
import plotly.express as px

In [16]:
app=dash.Dash(__name__)
app.title="Payments"

In [17]:
app.layout=html.Div([
    html.H1("Payments"),

    html.Label("Choose a column for Visualization"),

    dcc.Dropdown(
        id="column-dropdown",
        options=[
                 {"label":"Histogram of missed payments","value":1},
                 {"label":"Potential Audit Stores","value":2}
                ],
        value=1
    ),
    dcc.Graph(id="eda-graph")
])

In [18]:
@app.callback(
    Output("eda-graph","figure"),
    Input("column-dropdown","value")
)

def update_figure(selected_column):
    if selected_column==1:
        fig=px.histogram(ytd,x="Missed_Payments_YTD")
    elif selected_column==2:
        fig=px.bar(royalty, x="Store_ID",y="dif")
    else:
        fig=px.scatter(royalty, x="Store_ID",y="dif")
    return fig


app.run_server(port=8054,mode="external")